/*Footer*/
footer {
  background: #f5f5f7;
  padding-top: 2em;
  opacity: 1;
  color: #6e6e73;
  width: 100vw;
}

footer section {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

footer li,
footer h4,
footer .text-sm,
.footer-grid a,
#copyright a,
.footer-grid-mobile a,
.content {
  font-size: 12px;
  color: #6e6e73;
}

#copyright {
  border-top: 1px gray solid;
  padding-top: 5px;
}

.social-grid a:hover {
  /* text-decoration: underline; */
  font-weight: 700;
}

.shop-or-call {
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

.shop-or-call a {
  color: var(--chevy-link);
}

.shop-or-call a:hover {
  text-decoration: underline;
}

.policy {
  display: flex;
}

.policy a {
  padding: 0 1em;
  border-left: 1px gray solid;
}

#copyright > div.policy > a:nth-child(1) {
  border-left: 1px transparent;
}

#copyright {
  display: flex;
  justify-content: space-between;
}

.footer-grid,
.footer-grid-mobile {
  /* height: 500px; */
  margin: auto;
  padding: 20px 0 0;
  border-top: 1px gray solid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: 1fr; */
}

.footer-grid h4 {
  font-weight: 700;
  font-size: 12px;
}

.footer-grid a,
.footer-grid-mobile a {
  text-decoration: none;
}

.footer-grid li,
.footer-grid-mobile li {
  text-decoration: none;
  line-height: 2.25em;
}

/* shop & learn*/
.footer-grid-1 {
  grid-column: 1/2;
}

/* services */
.footer-grid-2 {
  grid-column: 2/3;
}

/* account */
.footer-grid-3 {
  grid-column: 3/4;
}

/* store */
.footer-grid-4 {
  grid-column: 4/5;
}

/* business education healthcare*/
.footer-grid-5 {
  grid-column: 5/6;
}

/* values about*/
.footer-grid-6 {
  grid-column: 6/7;
  grid-row: 1/2;
}

.bottom {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.footer-grid-mobile {
  display: none;
}

@media (max-width: 375px) {
}

@media (max-width: 768px) {
  .footer p,
  .footer a {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .footer-grid {
    display: none;
  }

  .footer-grid-mobile {
    display: inherit;
    width: 100vw;
    grid-template-columns: 1fr;
    justify-items: center; /*affects column*/
    align-items: center; /*affects row*/
    justify-self: center;
    align-self: center;
  }

  .footer-grid-mobile > * {
    grid-column: 1/2;
    grid-row: auto;
    width: 100%;
  }

  .footer-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
  }

  * .footer-grid-mobile-1 {
    display: hidden;
  }

  /* .footer-menu:active {
    display: relative;
  } */

  /* .content {
    display: inherit;
  } */

  .content :active {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

  .footer-grid-mobile > * ul {
    line-height: 1.25;
  }
  /* 
  .footer-grid > * :after {
    content: "+";
    float: right;
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
    margin-right: 8px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  } */

  .footer-grid > * li {
    padding: 6px 14px;
    line-height: 1.25;
  }
}

@media (max-width: 960px) {
  .footer {
    font-size: 14px;
  }

  .footer-container {
    padding-left: 16px;
    padding-right: 32px;
  }

  .social-grid {
    grid-template-columns: repeat(1fr, 3) 3fr repeat(1fr, 3);
    justify-items: center; /*affects column*/
    align-items: center; /*affects row*/
    justify-self: center;
    align-self: center;
  }

  .footer-logo img {
    height: 4em;
    width: 4em;
    border-width: 0.4em;
  }
}

@media (min-width: 1440px) {
}
