/*NavBar*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
  opacity: 0.95;
  position: fixed;
  z-index: 900;
  /*Line Shadow under Navbar*/
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  top: 0;
}

#navbar {
  display: flex; /*Puts it in a line*/
  justify-content: space-between;
  align-items: center; /*Centers the links to logo*/
  position: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 996px;
  max-width: 95vw;
}

.nav-links-all {
  display: flex;
  justify-content: space-between;
  max-width: 95vw;
  width: 996px;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  opacity: 0.8;
  font-size: 12px;
}

.navbar a:hover {
  opacity: 1;
  text-decoration: none;
}

.navbar-logo svg {
  margin-left: 0.25em;
  width: 50px;
  height: 50px;
  background: white;
  box-shadow: 0px 4px 12px gray;
  border-radius: 100%;
  opacity: 1;
}

.navbar li:first-child a {
  display: flex;
  align-items: right;
  text-decoration: none;
  margin-right: 30px;
}

.navbar img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.navbar li {
  text-decoration: none;
  margin-right: auto;
}

/* to reference the list items  */
.navbar li:nth-child(2) {
  margin: 0 5px;
}

/* Drop Down Menu */
.header {
  background-color: none;
  display: flex;
  align-items: baseline;
  padding: 0;
  text-transform: uppercase;
  flex: center;
  margin: 0;
  margin-right: 1em;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}

.drop-down {
  position: relative;
  text-align: left;
  float: right;
  margin: 0;
  padding: 0;
  border: none;
}

.drop-down-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 45px;
  left: -145px;
  position: absolute;
  transform: translateY(0px);
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  background-color: white;
  padding: 0 20px;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.drop-down-header {
  padding: 35px 0 23px;
  text-align: center;
  font-size: 14px;
}

.drop-down-links {
  width: 250px;
}

#drop-down-links a,
#drop-down-links a::after,
.drop-down-links a {
  color: var(--chevy-link);
  padding: 1em;
  font-size: 14px;
  line-height: 0.75em;
  border-top: 1px gray solid;
}

.search-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.drop-down-menu .search-bar-drop-down {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 44px;
  width: 40vw;
  left: 30vw;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 0 20px;
  padding-bottom: 18px;
  border-radius: 0 0 14px 14px;
}

.drop-down-menu .search-bar-drop-down .drop-down-header {
  padding-top: 23px;
  padding-bottom: 18px;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  color: #6e6e73;
}

.drop-down-menu .search-bar-drop-down a {
  border: none;
  width: 35vw;
  padding: 0.6rem 14px;
  font-size: 14px;
  color: #1d1d1f;
  margin: 0 14px;
}

.drop-down-menu .search-bar-drop-down a:hover {
  background-color: #f5f5f7;
  color: var(--chevy-link);
}

#search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;
  z-index: 5000;
  border: none;
  box-shadow: none;
}

#search-bar form,
#mobile-search-bar {
  color: var(--text-color);
  opacity: 0.6;
}

#search-bar input {
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  width: 40vw;
  max-width: 995px;
  opacity: 0.6;
}

.submit-button {
  width: 10em;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

/* select class then select the child from that class when we focus on the link and select class that's sibling  */
.drop-down.active > .link + .drop-down-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.drop-down-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* Hamburger/Menu Icon */
.corner-menu {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: sticky;
  background: none;
  border: none;
  z-index: 1000; /*always on top*/
  display: none;
}

.corner-menu-top,
.corner-menu-bottom {
  display: flex;
  position: absolute;
  top: 25%;
  left: 0;
  width: 18px;
  height: 1px;
  background: var(--text-color);
  transform: rotate(0);
  transition: all 0.5s;
}

.corner-menu-bottom {
  transform: translateY(7px);
}

.open .corner-menu-top {
  transform: rotate(45deg) translateY(4px) translateX(4px);
}

.open .corner-menu-bottom {
  transform: rotate(-45deg) translateY(4px) translateX(-4px);
}

/* Mobile Menu */ /*moves it from the top*/
/* .hidden {
  transform: translateY(calc(-100% - 44px));
} */

/* Caps the Navigation Bar
    .no-scroll {
      overflow: hidden;
    } */

.mobile-menu {
  position: absolute;
  top: 44px;
  left: 0;
  padding: 0px 40px 8px;
  width: 100vw;
  height: calc(100vh - 44px);
  background-color: #1d1d1f;
  color: #f5f5f7;
  padding: 3em;
  box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 / 7%);
  transition: all 0.3s;
  z-index: 1000;
  border-radius: 0 0 0 0.5em;
  opacity: 1;
}

#menu {
  padding: 0 48px;
  background-color: #000;
}

.mobile-menu ul {
  line-height: 3;
  padding-bottom: 10px;
}

#mobile-search-bar {
  background-color: #6e6e73;
  padding: 0 14px;
  border-radius: 4px;
  border-color: transparent;
}

#mobile-search-bar input {
  border-color: transparent;
  color: var(--text-color);
  width: calc(100% - 36px);
  background-color: #6e6e73;
  padding: 0;
}

.mobile-nav-links-all li {
  border-bottom: #7777 solid 1px;
}

ul .mobile-nav-search {
  margin: 0;
  padding-bottom: 12px;
  position: relative;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 17px;
  opacity: 0.8;
}

.mobile-menu a:hover {
  opacity: 1;
  text-decoration: none;
}

.mobile-menu div a {
  display: flex;
  align-items: center;
  font-size: 17px;
}

/*Contact Mobile */

@media (max-width: 375px) {
  .mobile-menu {
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .peas-logo {
    display: flex;
    position: absolute;
    right: calc(50% - 12.5px);
    top: -0.25em;
    justify-content: center;
    align-items: center;
  }

  .drop-down-menu {
    position: fixed;
    left: 0;
    width: 100vw;
  }

  .drop-down-links {
    width: 80vw;
  }

  .corner-menu {
    top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 960px) {
  .offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .offers-text {
    max-width: 70%;
    left: 0;
  }
}

@media (min-width: 1440px) {
}
